<h1>Editing site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label :locale %><br />
    <%= f.text_field :locale %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
